<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/_fragments :: head(~{::title})">
    <title>品牌</title>
</head>
<body>
<!--导航-->
<nav th:replace="/_fragments :: menu(2)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium animated fadeIn">
    <div class="ui container">
        <div class="ui my-padded-b-two form">
            <input name="page" type="hidden">
            <div class="ui fluid action input">
                <label for="inputSearch"></label>
                <input type="text" name="keyword" id="inputSearch" placeholder="输入关键字...">
                <button type="button" id="search-btn" class="ui icon button">
                    <i class="search icon"></i>
                </button>
            </div>
        </div>
        <div id="table-container">
            <table class="ui compact celled table" th:fragment="brandList">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>品牌</th>
                    <th>网址</th>
                    <th>LOGO</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="brand,iterStat:${page.content}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${brand.name}"></td>
                    <td th:text="${brand.website}"></td>
                    <td th:text="${brand.logo}"></td>
                    <td>
                        <a class="ui mini icon button"
                           th:href="@{/brands/{id}/edit(id=${brand.id})}">
                            <i class="edit icon"></i>
                        </a>
                        <a th:class="${brand.commodityList.isEmpty()}?'ui mini red icon button':'ui mini disabled red icon button'"
                           th:href="@{/brands/{id}/delete(id=${brand.id})}">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <!--colspan 合并单元格-->
                    <th colspan="5">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a onclick="page(this)" class="item icon" th:attr="data-page=${page.number}-1"
                               th:unless="${page.first}">
                                <i class="chevron left icon"></i>
                            </a>
                            <a onclick="page(this)" class="item icon" th:attr="data-page=${page.number}+1"
                               th:unless="${page.last}">
                                <i class="chevron right icon"></i>
                            </a>
                        </div>
                        <a class="ui right floated my-margin-zero_three mini icon button"
                           href="#" th:href="@{/brands/input}">
                            <i class="plus icon"></i>
                        </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="ui success message my-padded-tb-zero" th:unless="${#strings.isEmpty(message)}">
            <div class="ui two column grid">
                <div class="column">
                    <h4 th:text="${message}"></h4>
                </div>
                <div class="right aligned column">
                    <i class="close icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="/_fragments :: footer"></footer>

<th:block th:replace="/_fragments :: script"></th:block>

<script>
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    setTimeout(function () {
        $('.message .close').click();
    }, 3000);

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        loaddata();
    })

    $('#inputSearch').bind('keyup', function (event) {
        if (event.key === "Enter") {
            $("#search-btn").click()
        }
    })

    function loaddata() {
        $("#table-container").load(/*[[@{/brands/search}]]*/"/brands/search", {
            name: $("[name='keyword']").val(),
            page: $("[name='page']").val()
        });
    }

</script>

</body>
</html>