<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/_fragments :: head(~{::title})">
    <title>新增分类</title>
</head>
<body>
<!--导航-->
<nav th:replace="/_fragments :: menu(5)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium animated fadeIn">
    <div class="ui container my-padded-lr-big">
        <form action="#" class="ui form" method="post" th:action="@{/classifications}" th:object="${classification}">
            <input name="id" th:value="*{id}" type="hidden">
            <div class="field">
                <label style="color: #f1f1f1">分类名称</label>
                <input name="name" placeholder="分类名称..." th:value="*{name}" type="text">
            </div>
            <div class="field">
                <label style="color: #f1f1f1">分类图片</label>
                <input name="picture" placeholder="分类图片..." th:value="*{picture}" type="text">
            </div>
            <div class="field">
                <label style="color: #f1f1f1">选择父类（若无父类则不选择，或输入不存在的分类）</label>
                <div class="ui fluid search selection dropdown">
                    <input name="superClassification.id"
                           th:value="*{superClassification}==null?'-1':*{superClassification.id}" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">选择父类...</div>
                    <div class="menu">
                        <div class="item" th:data-value="${superClassification.id}"
                             th:each="superClassification : ${superClassifications}"
                             th:text="${superClassification.name}"></div>
                    </div>
                </div>
            </div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon" id="errorMessageCloseIcon"></i>
                <div class="header">验证失败</div>
                <p th:errors="*{name}">提交信息不符合规则</p>
            </div>
            /*/-->
            <div class="ui right aligned container">
                <button class="ui button" onclick="window.history.go(-1)" type="button">返回</button>
                <button id="submit-btn" class="ui teal button">提交</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>

<!--底部footer-->
<footer th:replace="/_fragments :: footer"></footer>

<th:block th:replace="/_fragments :: script"></th:block>


<script>
    $("#errorMessageCloseIcon").click(function () {
        $('.ui.negative.message').hide()
    })

    $('.menu.toggle').click(function () {
        $('.my-item').toggleClass('my-mobile-hide');
    });

    $('.ui.form').form({
        fields: {
            name: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '请输入分类名称！'
                }]
            },
            picture: {
                identifier: 'picture',
                rules: [{
                    type: 'empty',
                    prompt: '请输入分类图片！'
                }]
            }
        }
    });
</script>
</body>
</html>