<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/_fragments :: head(~{::title})">
    <title>分类</title>
</head>
<body>
<!--导航-->
<nav th:replace="/_fragments :: menu(3)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium animated fadeIn">
    <div class="ui container">
        <div class="ui my-padded-b-one form">
            <input name="page" type="hidden">
            <div class="fields">
                <div class="field">
                    <input name="keyword" id="inputSearch" placeholder="输入关键字..." type="text">
                </div>
                <div class="field">
                    <div class="ui search selection dropdown">
                        <input name="super" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择父类...</div>
                        <div class="menu">
                            <div class="item" th:data-value="${superClassification.id}"
                                 th:each="superClassification : ${superClassifications}"
                                 th:text="${superClassification.name}"></div>
                        </div>
                    </div>
                </div>
                <button type="button" id="search-btn" class="ui icon button">
                    <i class="search icon"></i>
                </button>
                <button type="button" id="empty-btn" class="ui icon button">
                    <i class="reply all icon"></i>
                </button>
            </div>
        </div>
        <div id="table-container">
            <table class="ui compact celled table" th:fragment="classificationList">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>分类</th>
                    <th>图片</th>
                    <th>父类</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="classification,iterStat:${page.content}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${classification.name}"></td>
                    <td th:text="${classification.picture}"></td>
                    <td th:text="${classification.superClassification}==null?无:${classification.superClassification.name}"></td>
                    <td>
                        <a class="ui mini icon button"
                           th:href="@{/classifications/{id}/edit(id=${classification.id})}">
                            <i class="edit icon"></i>
                        </a>
                        <a th:class="${classification.subClassificationList.isEmpty()&&classification.commodityList.isEmpty()}?'ui mini red icon button':'ui mini disabled red icon button'"
                           th:href="@{/classifications/{id}/delete(id=${classification.id})}">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <!--colspan 合并单元格-->
                    <th colspan="5">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a onclick="page(this)" class="item icon" th:attr="data-page=${page.number}-1"
                               th:unless="${page.first}">
                                <i class="chevron left icon"></i>
                            </a>
                            <a onclick="page(this)" class="item icon" th:attr="data-page=${page.number}+1"
                               th:unless="${page.last}">
                                <i class="chevron right icon"></i>
                            </a>
                        </div>
                        <a class="ui right floated my-margin-zero_three mini icon button"
                           href="#" th:href="@{/classifications/input}">
                            <i class="plus icon"></i>
                        </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="ui success message my-padded-tb-zero" th:unless="${#strings.isEmpty(message)}">
            <div class="ui two column grid">
                <div class="column">
                    <h4 th:text="${message}"></h4>
                </div>
                <div class="right aligned column">
                    <i class="close icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="/_fragments :: footer"></footer>

<th:block th:replace="/_fragments :: script"></th:block>

<script>
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    setTimeout(function () {
        $('.message .close').click();
    }, 3000);

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        loaddata();
    })

    $("#empty-btn").click(function () {
        location.reload()
    })

    $('#inputSearch').bind('keyup', function (event) {
        if (event.key === "Enter") {
            $("#search-btn").click()
        }
    })

    function loaddata() {
        $("#table-container").load(/*[[@{/classifications/search}]]*/"/classifications/search", {
            keyword: $("[name='keyword']").val(),
            superId: $("[name='super']").val(),
            page: $("[name='page']").val()
        });
    }

</script>

</body>
</html>