<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/_fragments :: head(~{::title})">
    <title>商品</title>
</head>
<body>
<!--导航-->
<nav th:replace="/_fragments :: menu(3)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium animated fadeIn">
    <div class="ui container">
        <div class="ui my-padded-b-one form">
            <input name="page" type="hidden">
            <div class="fields">
                <div class="field">
                    <input id="inputSearch" name="keyword" placeholder="输入关键字..." type="text">
                </div>
                <div class="field">
                    <div class="ui search selection dropdown">
                        <input name="brand" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择品牌...</div>
                        <div class="menu">
                            <div class="item" th:data-value="${brand.id}"
                                 th:each="brand : ${brands}"
                                 th:text="${brand.name}"></div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui search selection dropdown">
                        <input name="classification" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择分类...</div>
                        <div class="menu">
                            <div class="item" th:data-value="${classification.id}"
                                 th:each="classification : ${classifications}"
                                 th:text="${classification.name}"></div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui search selection dropdown">
                        <input name="supplier" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择供应商...</div>
                        <div class="menu">
                            <div class="item" th:data-value="${supplier.id}"
                                 th:each="supplier : ${suppliers}"
                                 th:text="${supplier.name}"></div>
                        </div>
                    </div>
                </div>
                <button class="ui icon button" id="search-btn" type="button">
                    <i class="search icon"></i>
                </button>
                <button class="ui icon button" id="empty-btn" type="button">
                    <i class="redo icon"></i>
                </button>
            </div>
        </div>
        <div id="table-container">
            <table class="ui compact celled table" th:fragment="commodityList">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>代码</th>
                    <th>商品</th>
                    <th>规格</th>
                    <th>型号</th>
                    <th>售价</th>
                    <th>库存</th>
                    <th>品牌</th>
                    <th>分类</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="commodity,iterStat:${page.content}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${commodity.code}"></td>
                    <td th:text="${commodity.name}"></td>
                    <td th:text="${commodity.specification}"></td>
                    <td th:text="${commodity.model}"></td>
                    <td th:text="${commodity.salesPrice}"></td>
                    <td th:text="${commodity.quantity}"></td>
                    <td th:text="${commodity.brand.name}"></td>
                    <td th:text="${commodity.classification.name}"></td>
                    <td>
                        <a class="ui mini icon button" th:href="@{/commodities/{id}(id=${commodity.id})}">
                            <i class="archive icon"></i>
                        </a>
                        <a class="ui mini icon button"
                           th:href="@{/commodities/{id}/edit(id=${commodity.id})}">
                            <i class="edit icon"></i>
                        </a>
                        <a class="ui mini red icon button"
                           th:href="@{/commodities/{id}/delete(id=${commodity.id})}">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <!--colspan 合并单元格-->
                    <th colspan="10">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a class="item icon" onclick="page(this)" th:attr="data-page=${page.number}-1"
                               th:unless="${page.first}">
                                <i class="chevron left icon"></i>
                            </a>
                            <a class="item icon" onclick="page(this)" th:attr="data-page=${page.number}+1"
                               th:unless="${page.last}">
                                <i class="chevron right icon"></i>
                            </a>
                        </div>
                        <a class="ui right floated my-margin-zero_three mini icon button"
                           href="#" th:href="@{/commodities/input}">
                            <i class="plus icon"></i>
                        </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="ui success message my-padded-tb-zero" th:unless="${#strings.isEmpty(message)}">
            <div class="ui two column grid">
                <div class="column">
                    <h4 th:text="${message}"></h4>
                </div>
                <div class="right aligned column">
                    <i class="close icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--弹出层-->
<div class="ui modal" th:object="${commodity}">

    <div class="header" th:text="*{nameSpecificationModel}"></div>

    <div class="my-container my-padded-tb-small">
        <div class="ui container my-padded-lr-big">
            <form action="#" class="ui form" method="post" th:action="@{/commodities}">
                <input name="id" th:value="*{id}" type="hidden">
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label style="color: #333333">代码
                                <input name="code" placeholder="代码..." th:value="*{code}" type="text">
                            </label>
                        </div>
                        <div class="field">
                            <label style="color: #333333">商品名称
                                <input name="name" placeholder="商品名称..." th:value="*{name}" type="text">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="four fields">
                        <div class="field">
                            <label style="color: #333333">规格
                                <input name="specification" placeholder="规格..." th:value="*{specification}" type="text">
                            </label>
                        </div>
                        <div class="field">
                            <label style="color: #333333">型号
                                <input name="model" placeholder="型号..." th:value="*{model}" type="text">
                            </label>
                        </div>
                        <div class="field">
                            <label style="color: #333333">库存
                                <input name="quantity" placeholder="库存..." th:value="*{quantity}" type="text">
                            </label>
                        </div>
                        <div class="field">
                            <label style="color: #333333">单位
                                <input name="unit" placeholder="单位..." th:value="*{unit}" type="text">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="three fields">
                        <div class="field">
                            <label style="color: #333333">市场价
                                <input name="marketValue" placeholder="市场价..." th:value="*{marketValue}" type="text">
                            </label>
                        </div>
                        <div class="field">
                            <label style="color: #333333">售价
                                <input name="salesPrice" placeholder="售价..." th:value="*{salesPrice}" type="text">
                            </label>
                        </div>
                        <div class="field">
                            <label style="color: #333333">成本
                                <input name="costPrice" placeholder="成本..." th:value="*{costPrice}" type="text">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label style="color: #333333">商品缩略图
                        <input name="picture" placeholder="商品缩略图URL..." th:value="*{picture}" type="text">
                    </label>
                </div>
                <div class="field">
                    <label style="color: #333333">商品介绍</label>
                    <textarea name="introduce" placeholder="商品介绍..." rows="3" th:text="*{introduce}"></textarea>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label style="color: #333333">品牌</label>
                        <div class="ui fluid search selection dropdown">
                            <input name="brand.id" th:value="*{brand}==null?null:*{brand.id}" type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">选择品牌...</div>
                            <div class="menu">
                                <div class="item" th:data-value="${brand.id}"
                                     th:each="brand : ${brands}"
                                     th:text="${brand.name}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label style="color: #333333">分类</label>
                        <div class="ui fluid search selection dropdown">
                            <input name="classification.id" th:value="*{classification}==null?null:*{classification.id}"
                                   type="hidden">
                            <i class="dropdown icon"></i>
                            <div class="default text">选择分类...</div>
                            <div class="menu">
                                <div class="item" th:data-value="${classification.id}"
                                     th:each="classification : ${classifications}"
                                     th:text="${classification.name}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label style="color: #333333">供应商</label>
                    <div class="ui fluid multiple search selection dropdown">
                        <input name="supplierIds" th:value="*{supplierIds}" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择供应商...</div>
                        <div class="menu">
                            <div class="item" th:data-value="${supplier.id}"
                                 th:each="supplier : ${suppliers}"
                                 th:text="${supplier.name}"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="actions">
        <div class="ui positive button">关闭</div>
    </div>

</div>


<!--底部footer-->
<footer th:replace="/_fragments :: footer"></footer>

<th:block th:replace="/_fragments :: script"></th:block>

<script>

    const idDetails = [[${idDetails}]];

    $('.ui.modal')
        .modal(idDetails ? 'show' : 'hide')
    ;

    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    setTimeout(function () {
        $('.message .close').click();
    }, 3000);

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        loaddata();
    })

    $("#empty-btn").click(function () {
        location.reload()
    })

    $('#inputSearch').bind('keyup', function (event) {
        if (event.key === "Enter") {
            $("#search-btn").click()
        }
    })

    function loaddata() {
        $("#table-container").load(/*[[@{/commodities/search}]]*/"/commodities/search", {
            keyword: $("[name='keyword']").val(),
            brandId: $("[name='brand']").val(),
            classificationId: $("[name='classification']").val(),
            supplierId: $("[name='supplier']").val(),
            page: $("[name='page']").val()
        });
    }

</script>
</body>
</html>