<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/_fragments :: head(~{::title})">
    <title>商品销售信息系统</title>
</head>
<body>
<!--导航-->
<nav th:replace="/_fragments :: menu(1)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium animated fadeIn">
    <div class="ui center aligned container">
        <div class="container text-center text-info">
            <h1 class="d-flex justify-content-center align-items-center" id="content"
                style="color: #f1f1f1;font-size: 3em"></h1>
            <!-- 再来一条 -->
            <div class="fixed-bottom">
                <button class="ui transparent-background button" onclick="window.location.reload();"
                        style="color: #f1f1f1;font-size: 1.5em">NEXT
                </button>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="/_fragments :: footer"></footer>
<th:block th:replace="/_fragments :: script"></th:block>
<script type="text/JavaScript">
    $(function () {
        $.ajax({
            url: "https://toodo.fun/api/api.php?type=message&skey=free",
            type: "GET",
            success: function (data) {
                $("#content").html(data);
            },
            error: function () {
                $("#content").html("亲爱的，我编不出来啦~");
            }
        });
    });
</script>
</body>
</html>