<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>商品</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(2)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium animated fadeIn">
    <div class="ui container">
        <div class="ui my-padded-b-one form">
            <input name="page" type="hidden">
        </div>
        <div id="table-container">
            <table class="ui compact celled table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>商品</th>
                    <th>规格</th>
                    <th>型号</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>总价</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderDetails,iterStat:${page.content}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${orderDetails.commodity.name}"></td>
                    <td th:text="${orderDetails.commodity.specification}"></td>
                    <td th:text="${orderDetails.commodity.model}"></td>
                    <td th:text="${orderDetails.commodity.salesPrice}"></td>
                    <td th:text="${orderDetails.orderQuantity}"></td>
                    <td th:text="${orderDetails.totalAmount}"></td>
                    <td>
                        <a class="ui mini icon button"
                           th:href="@{/orderDetails/{id}/edit(id=${orderDetails.commodity.id})}">
                            <i class="edit icon"></i>
                        </a>
                        <a class="ui mini red icon button"
                           th:href="@{/orderDetails/{id}/delete(id=${orderDetails.commodity.id})}">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <!--colspan 合并单元格-->
                    <th colspan="8">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a class="item icon" onclick="page(this)" th:attr="data-page=${page.number}-1"
                               th:unless="${page.first}">
                                <i class="chevron left icon"></i>
                            </a>
                            <a class="item icon" onclick="page(this)" th:attr="data-page=${page.number}+1"
                               th:unless="${page.last}">
                                <i class="chevron right icon"></i>
                            </a>
                        </div>
                        <a th:class="${quantity==0?'ui right floated my-margin-zero_three mini red icon disabled button':'ui right floated my-margin-zero_three mini red icon button'}"
                           th:href="@{/orderDetails/settlement}" th:text="提交订单+'（'+${quantity}+'）'">
                        </a>
                        <label class="ui right floated my-margin-zero_three mini transparent-background icon button"
                               style="color: #d01919"
                               th:text="合计+'：￥'+${totalMoney}">
                        </label>
                        <a class="ui right floated my-margin-zero_three mini icon button"
                           th:href="@{/orderDetails/shopping}">
                            <i class="plus icon"></i>
                        </a>
                        <a class="ui right floated my-margin-zero_three mini icon button"
                           th:href="@{/orders}">
                            <i class="reply icon"></i>
                        </a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="ui success message my-padded-tb-zero" th:unless="${#strings.isEmpty(message)}">
            <div class="ui two column grid">
                <div class="column">
                    <h4 th:text="${message}"></h4>
                </div>
                <div class="right aligned column">
                    <i class="close icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer"></footer>

<th:block th:replace="_fragments :: script"></th:block>

<script>

    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    setTimeout(function () {
        $('.message .close').click();
    }, 3000);

</script>
</body>
</html>