<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/_fragments :: head(~{::title})">
    <title>供应商新增</title>
</head>
<body>
<!--导航-->
<nav th:replace="/_fragments :: menu(7)"></nav>

<!--中间内容-->
<div class="my-container my-padded-tb-medium animated fadeIn">
    <div class="ui container my-padded-lr-big">
        <form action="#" class="ui form" method="post" th:action="@{/suppliers}" th:object="${supplier}">
            <input name="id" th:value="*{id}" type="hidden">
            <div class="field">
                <label style="color: #f1f1f1">供应商名称</label>
                <input name="name" placeholder="供应商名称..." th:value="*{name}" type="text">
            </div>
            <div class="field">
                <label style="color: #f1f1f1">联系人姓名</label>
                <input name="contact" placeholder="联系人姓名..." th:value="*{contact}" type="text">
            </div>
            <div class="field">
                <label style="color: #f1f1f1">联系人电话</label>
                <input name="contactNumber" placeholder="联系人电话..." th:value="*{contactNumber}" type="text">
            </div>
            <div class="field">
                <label style="color: #f1f1f1">供应商简介</label>
                <input name="supplierProfile" placeholder="供应商简介..." th:value="*{supplierProfile}" type="text">
            </div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon" id="errorMessageCloseIcon"></i>
                <div class="header">验证失败</div>
                <p th:errors="*{name}">提交信息不符合规则</p>
            </div>
            /*/-->
            <div class="ui right aligned container">
                <button class="ui button" onclick="window.history.go(-1)" type="button">返回</button>
                <button class="ui teal button">提交</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>

<!--底部footer-->
<footer th:replace="/_fragments :: footer"></footer>

<th:block th:replace="/_fragments :: script"></th:block>


<script>
    $("#errorMessageCloseIcon").click(function () {
        $('.ui.negative.message').hide()
    })

    $('.menu.toggle').click(function () {
        $('.my-item').toggleClass('my-mobile-hide');
    });

    $('.ui.form').form({
        fields: {
            name: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '请输入供应商名称！'
                }]
            },
            contact: {
                identifier: 'contact',
                rules: [{
                    type: 'empty',
                    prompt: '请输入联系人姓名！'
                }]
            },
            contactNumber: {
                identifier: 'contactNumber',
                rules: [{
                    type: 'empty',
                    prompt: '请输入联系人电话！'
                }]
            },
            supplierProfile: {
                identifier: 'supplierProfile',
                rules: [{
                    type: 'empty',
                    prompt: '请输入供应商简介！'
                }]
            }
        }
    });
</script>
</body>
</html>